body{
    color: #333333;
}
/* 头部样式 */
.header{
	width: 100%;
    height: .88rem;
    color: #e93380;
    background-color: #ffffff;
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding: 0 .3rem;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
}

.header .backBtn{
    width: 10%;
    height: 100%;
    display: block;
    background: url(../../images/public/backBtn-icon.png) center center no-repeat;
    background-size: .22rem .36rem;
    position: absolute;
    left: 0;
    top: 0;
}
.header h1{
    width: 70%;
	font-size: .36rem;
    text-align: center;
    font-weight: normal;
    margin: 0 auto;
    overflow:hidden;     
    white-space:nowrap;  
    text-overflow:ellipsis;
}
.header .right{
    font-size: .26rem;
    margin-left: .2rem;
    position: absolute;
    right: .3rem;
}
.header .right .right-icon{
    width: .36rem;
    height: .36rem;
}
.header .right a{
    color: #e93380;
}

/* loading 加载*/
.loading-wrap{
    text-align: center;
    margin-top: .4rem;
}
.loading-wrap .loading{
    width: 100%;
    margin-bottom: .15rem;
}
.loading-wrap .end{
    font-size: .24rem;
}


/* 详情规格选择 */
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0,0,0,.5);
    display: none;
}
.sku-content{
    width: 100%;
    height: 11rem;
    background-color: #fff;
    padding:.3rem;
    box-sizing: border-box;
    border-top-left-radius:.2rem;
    border-top-right-radius:.2rem;
    position: absolute;
    left: 0;
    bottom: -100%; 
}

.sku-content .thead {
    height: 2rem;
    border-bottom: .01rem solid #e5e5e5;
    padding-bottom: .2rem;
    display: flex;
    align-items: center;
    position: relative;
}
.sku-content .thead .img-wrap{
    width: 2rem;
    height: 2rem;
    border-radius: .08rem;
    overflow: hidden;
    margin-right: .2rem;
}
.sku-content .thead .img-wrap img{
    width: 100%;
}
.sku-content .thead .main{
    width: 4.2rem;
}
.sku-content .thead .main .goods-name{
    height: .88rem;
    line-height: .88rem;
    font-size: .34rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sku-content .thead .main .goods-price{
    font-size: .34rem;
    color: #e93380;
    margin-bottom: .2rem;
}
.sku-content .thead .main .sku-choose{
    height: .6rem;
    line-height: .6rem;
    font-size: .28rem;
}

.sku-content .thead .close-btn{
    width: .4rem;
    height: .4rem;
    background: url(../../images/public/close-btn.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.sku-content .sku-row{
    position: relative;
}
.sku-content .sku-row-title{
    height: .7rem;
    line-height: .7rem;
    font-size: .3rem;
    color: #333333;
}

.sku-content .sku-row-con .sku-row-item{  
    width: fit-content;
    height: .36rem;
    line-height: .36rem;
    font-size: .26rem;
    text-align:center;
    color: #333333;
    border: .01rem solid #808080;
    border-radius: .15rem;
    margin-bottom: .16rem;
    display: block;
    padding:0 .25rem; 
    box-sizing: border-box;
    
}
.sku-content .sku-row-con .sku-row-item.active{
    color: #e93380;
    border: .01rem solid #e93380;
}

/* 数量加减 */
.sku-content .stepper{
    height: .4rem;
    display: flex;
    align-items: center;
    position: absolute;
    right: .3rem;
    top: 0;
}
.sku-content .stepper .min{
    width: .3rem;
    height: .4rem;
    display: inline-block;
    background: url(../../images/details/min.png) no-repeat center center;
    background-size: 100%;
}
.sku-content .stepper .number{
    width: .6rem;
    height: .4rem;
    line-height: .4rem;
    color: #333333;
    margin:0 .12rem;
    text-align: center;
    background: url(../../images/details/number-bg.png) no-repeat center center;
    background-size: 100%;
    border: none;
}
.sku-content .stepper .add{
    width: .3rem;
    height: .4rem;
    display: inline-block;
    background: url(../../images/details/add.png) no-repeat center center;
    background-size: 100%;
}

.sku-content .tfoot{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: .2rem;
}
.sku-content .tfoot .confirmBtn{
    width:92%;
    height:.66rem;
    line-height:.66rem;
    font-size: .3rem;
    border:none;
    border-radius:.2rem;
    color:#ffffff;
    background:#e93380;
    border: none;
    outline: none;
}


/* 商品详情操作栏 */
.action-bar{
    width: 100%;
    height: .98rem;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9;
}
.action-bar i{
	width: 0.46rem;
	height: 0.46rem;
    display: block;
    margin-bottom: .1rem;
}

/* 首页跳转 */
.action-bar .home{
    width: 1.6rem;
    height: 100%;
    text-align: center;
    font-size: .2rem;
    border-right: .01rem solid #cccccc;    
    padding-left: .2rem;
    box-sizing: border-box;
}
.action-bar .home a{
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.action-bar .home .home-icon{
    background: url(../../images/public/home-icon1-on.png) no-repeat;
	background-size: 100%;
}

/* 收藏 */
.action-bar .fav{
    width: 1.4rem;
    height: 100%;
    font-size: .2rem;
    text-align: center;
    border-right: .01rem solid #cccccc;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
}
.action-bar .fav .fav-icon{
    background: url(../../images/details/fav-icon1.png) no-repeat;
	background-size: 100%;
}
.action-bar .faved .fav-icon{
    background: url(../../images/details/fav-icon1-on.png) no-repeat;
	background-size: 100%;
}
.action-bar .fav-tips{
    display: none;
}

.action-bar .fav-animation{
    color: #e93380;
    position: absolute;
    top: -.4rem;
    left: .2rem;
    font-size: .24rem;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity: 0;
    animation: myfav 0.5s;
    -moz-animation: myfav 0.5s;
    -webkit-animation: myfav 0.5s;
    -o-animation: myfav 0.5s;
    font-style: normal;
}

 /*收藏动画开始*/
 @keyframes myfav {
    0% {
        top: -.4rem;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity: 0;
    }

    25% {
        top: -.5rem;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity: 0.5;
    }

    50% {
        top: -.6rem;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity: 1;
    }

    75% {
        top: -.7rem;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity: 0.5;
    }

    100% {
        top: -.8rem;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity: 0;
    }
}

/* 价格 */
.action-bar .price{
    font-size: .36rem;
    color: #e93380;
    padding-left: .2rem;
    box-sizing: border-box;
    flex: 1;
}
.action-bar .price span{
    font-size: .24rem;
}
.action-bar .btn{
    width: 2.1rem;
    height: 100%;
    line-height: .98rem;
    font-size: .3rem;
    color: #ffffff;
    text-align: center;
    background-color: #e93380;
}

