body{
    background-color: #ffffff;
}
.content{
    padding: 3.18rem .24rem 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row-line {
	margin: 0 auto .35rem;
}
.row-line .rank,.drop-down,.right {
	display: inline-block;
	vertical-align: middle;
}
.drop-down {
	position: relative;
	border: 1px solid #ff6b87;
	border-radius: 6px;
}
.row-line .rank {
	margin-right: .28rem;
	width: 20%;
	color: #ff6b87;
	font-size: .28rem;
	text-align: right;
	line-height: .5rem;
}
.select-level {
	padding-left: .2rem;
	display: inline-block;
	width: 4.01rem;
	height: .48rem;
	font-size: .3rem;
	line-height: .48rem;
	color: #ff6b87;
}
.drop-list{
	display: none;
    width: 100%;
    position: absolute;
    top: .5rem;
    left: 0;
    background-color: #e6e6e6;
}
.drop-list li {
	padding-left: .2rem;
	color: #ff6b87;
	font-size: .3rem;
	line-height: .48rem;
}
.arrows {
	position: absolute;
	top: .22rem;
	right: .25rem;
    width: .2rem;
	height: .1rem;
    background: url(../../images/user_zp/T2.png) no-repeat center right;
    background-size: 100% 100%;
}
.right input {
	padding: 0 .2rem;
	width: 2.68rem;
	height: .48rem;
	border: 1px solid #ff6b87;
	border-radius: 6px;
	font-size: .3rem;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ff6b87;
}
.row-line .right .verificationBtn{
	padding: 0 .15rem;
	display: inline-block;
    line-height: .48rem;
    background: #ff6b87;
    font-size: .3rem;
    color: #fff;
    text-align: center;
	border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 邀请按钮 */
.inviteBtn{
	margin: .85rem auto 0;
	display: block;
    width: 6.14rem;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    background-color: #e93380;
    border: none;
    outline: none;
    border-radius: .45rem;
    color: #fff;
    font-size: .36rem;
}