body{
    background-color: #ffffff;
}
.content{
    padding: 3.18rem .24rem 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row-line {
	margin: 0 auto .35rem;
}
.row-line .rank,.drop-down,.right {
	display: inline-block;
	vertical-align: middle;
}
.drop-down {
	position: relative;
}
.row-line .rank {
	margin-right: .28rem;
	width: 20%;
	text-align: right;
	line-height: .5rem;
}
.select-level {
	padding-left: .2rem;
	display: inline-block;
	width: 4.01rem;
	height: .48rem;
	line-height: .5rem;
	border: 1px solid #818181;
}
.drop-list{
	display: none;
    width: 100%;
    position: absolute;
    top: .5rem;
    left: 0;
    background-color: #e6e6e6;
}
.drop-list li {
	padding-left: .2rem;
}
.arrows {
	position: absolute;
	top: .22rem;
	right: .25rem;
    width: .2rem;
	height: .1rem;
    background: url(../../images/user_zp/T2.png) no-repeat center right;
    background-size: 100% 100%;
}
.right input {
	padding: 0 .2rem;
	width: 2.68rem;
	height: .48rem;
	border: 1px solid #818181;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.row-line .right .verificationBtn{
	display: inline-block;
    line-height: .5rem;
    background: #cfdce7;
    text-align: center;
    padding: 0 .2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 邀请按钮 */
.inviteBtn{
	margin: .85rem auto 0;
    width: 7.02rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    background-color: #f7062e;
    border: none;
    border-radius: .08rem;
    color: #fff;
    font-size: .3rem;
}