/* 顶部 */
.user-top{
    width: 100%;
    height: 2.76rem;
    color: #ffffff;
    background-color: #ff6b89;
    display: flex;
    padding: .5rem .3rem 0;
    box-sizing: border-box;
    margin-right: .3rem;
    position: relative;
}
.user-top .avatar{
    width: 1.3rem;
    text-align: center;
    margin-right: .2rem;
}
.user-top .avatar img{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-bottom: .1rem;
}
.user-top .avatar span{
    font-size: .2rem;
    color: #ffffff;
    display: block;
}

/* 用户信息 */
.user-top .user-info{
    margin-right: .3rem;
}
.user-top .user-info .name{
    font-size: .36rem;
    margin: .3rem auto .1rem;
    display: block;
}
.user-top .user-info .leader-name{
    font-size: .2rem;
    display: block;
}

.user-top .user-msg{
    flex: 1;
}
.user-top .user-msg .level{
    font-size: .24rem;
    display: block;
    margin:.4rem auto .15rem;
}
.user-top .user-msg .teams-num{
    font-size: .2rem;
    display: block;
}

/* 设置 */
.user-top .set-up-btn{
    width: .49rem;
    height: .49rem;
    background: url(../../images/user_zp/set-up.png) no-repeat;
    background-size: 100%;
    position: absolute;
    right: .3rem;
    top: .9rem;
}

.content{
    position: relative;
    top: -.55rem;
    z-index: 3;
    padding: 0 0.3rem 1.18rem;
    box-sizing: border-box;
}

/* 我的订单 */
.order-area{
    width: 6.9rem;
    margin: 0 auto;
    padding: .17rem .12rem .1rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: .12rem;
    box-shadow: 0 0 .08rem #ccc;
    margin-bottom: .3rem;
}

.order-area .list{
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-area .list .item{
    width: 25%;
    font-size: .22rem;
    text-align: center;
}
.order-area .list .item a{
    color: #333333;
}
.order-area .list .item span.icon{
    width: .5rem;
    height: .46rem;
    display: block;
    margin: 0 auto .1rem;
}
.order-area .list .item span.icon img{
    max-width: 100%;
    max-height: 100%;
}

/* 公共标题 */
.headline>a{
    width: 100%;
    height: .7rem;
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .01rem solid #e5e5e5;
}
.headline h3{
    font-size: .26rem;
    font-weight: normal;
}
.headline .more{
    min-width: .11rem;
    min-height: .19rem;
    color: #333333;
    font-size: .22rem;
    background: url(../../images/user_zp/right-arrow1.png) no-repeat right center;
    background-size: .11rem .19rem;
    padding-right: .18rem;
}

/* 菜单导航 */
.nav-wrap{
    margin-bottom: .3rem;
}
.nav-wrap ul{
    border-radius: .12rem;
    background-color: #f7f7f7;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;  
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    padding:.15rem 0 .05rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-wrap .navItem{
    width: 25%;
    text-align: center;
    font-size: .22rem;
    margin-bottom: .2rem;
}
.nav-wrap .navItem a{
    color: #000000;
}
.nav-wrap .navItem span:first-child{
    width: .7rem;
    height: .7rem;
    display: block;
    margin: 0 auto .15rem;
}

.nav-wrap .navItem span{
    position: relative;
}
.nav-wrap .navItem span img{
    width: 100%;
}


/* 我的消息 */
.news{
    border-radius: .12rem;
    background-color: #f7f7f7;
    padding: 0 .12rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: .25rem;
}
.news .news-list ul{
    height: .7rem;
    overflow: hidden;
}
.news .news-list li{
    height: .7rem;
    line-height: .7rem;
    overflow: hidden;
}
.news .news-list li a{
    color: #333333;
    font-size: .22rem;
    display: block;
}


.other-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: .2rem;
}
.other-area .item{
    width: 3.3rem;
    height: .94rem;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.other-area .item .icon{
    width: .36rem;
    height: .36rem;
    margin-right: .1rem;
}
.other-area .item .icon img{
    width: 100%;
}
.other-area .item span{
    font-size: .3rem;
    color: #333333;
}

/* 广告位 */
.advert-wrap{
    width: 100%;
    height: 1.4rem;
    background-color: #989898;
    border-radius: .12rem
}
.advert-wrap img{
    width: 100%;
}