ul {
	list-style: none;
}
.wrapper {
    padding-top: .88rem;
    font-size: .24rem;
}
img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}
.lb_headWrap {
	background: #F2F2F2;
}

.content {
	margin: .17rem .24rem .69rem;
}

.photo {
	margin: 0 auto;
	width: 1rem;
	height: 1rem;
}
.head p {
	text-align: center;
}
.head .name {
	margin: .16rem 0 0;
	font-size: .24rem;
	color: #151515;
}
.head .over {
	font-size: .16rem;
	letter-spacing: 2px;
	color: #979797;
}

.write_cont {
	padding: .3rem 0 0 .86rem;
}
.cont_wrap {
	margin-bottom: .45rem;
}
.write_cont .left_cont,.right_cont,.inp_cont {
	display: inline-block;
	vertical-align: top;
}
.left_cont {
	width: 20%;
	font-size: .24rem;
	color: #151515;
	line-height: .36rem;
}
.right_cont {
	width: 3.97rem;
	height: .36rem;
	border: 1px solid #808080;
}
.ht {
	position: relative;
	text-align: right;
}
.her {
	position: relative;
	text-align: right;
}
.wrap_com {
	padding-right: .45rem;
	line-height: .36rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.icon {
	position: absolute;
	right: .2rem;
	top: .13rem;
	width: .16rem;
	height: .09rem;
	background: url(../../images/user_zp/T2.png) no-repeat;
	background-size: 100% 100%;
}
.list_wrap {
	display: none;
	background: #F2F2F2;
}
.list_wrap li {
	padding-right: .45rem;
	font-size: .24rem;
	color: #151515;
	line-height: .36rem;
}
.inp {
	padding: .02rem .15rem;
	width: 4rem;
	border: 1px solid #808080;
	font-size: .24rem;
	color: #151515;
	line-height: .35rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.btn_wrap {
	padding-left: .5rem;
	margin: 1.92rem auto 0;
}
.btn {
	width: 6.02rem;
	height: .6rem;
	background-color: #f7062e;
	border-radius: 6px;
	font-size: .24rem;
	text-align: center;
	line-height: .6rem;
	letter-spacing: 1px;
	color: #fff;
}
