body {
	background: #F8F8F8;
}
.wrapper {
    padding-top: .88rem;
}
img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.content .list_wrap .check,.img,.ziti {
	display: inline-block;
	vertical-align: top;
}
.list_wrap {
	padding: .22rem 0 0;
	margin: .2rem .24rem 0;
	border: 1px solid #dadada;
}
/*.content .list_wrap input{
	margin: .62rem 0 0 .17rem;
	width: .36rem;
    height: .36rem;
    -webkit-appearance:none;
    border: 1px solid #7a7a7a;
	border-radius: 50%;
}
input:checked:after{
	margin: .08rem 0 0 .07rem;
    width: .18rem;
    height: .15rem;
    content: '';
    background: url(../../images/video/checkbox.png) center center no-repeat;
    background-size: cover;
    display: block;
}*/

.list_wrap .img {
	margin: 0 .2rem 0 .15rem;
	width: 1.41rem;
	height: 1.41rem;
}
.ziti {
	width: 70%;
	font-size: .2rem;
}


.idnum {
	color: #151515;
	line-height: .35rem;
}
.nu {
	margin-right: .2rem;
}

.order div {
	display: inline-block;
	font-size: .18rem;
	color: #505050;
	line-height: .45rem;
}
.order .stock {
	margin-right: .2rem;
}


.popup_wrap {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 26;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
}
.up {
	padding: .7rem 0 0;
	margin: 5.1rem 0 0 1.25rem;
	width: 5rem;
	height: 3rem;
	background-color: #fff;
	border-radius: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.pop {
	margin: 0 0 0 .6rem;
	font-size: .3rem;
	color: #3d3d3d;
}

/*查看详情按钮*/
.view {
	float: right;
	font-size: .2rem;
	color: #e31a49;
	line-height: .5rem;
}
.view div {
	display: inline-block;
	vertical-align: middle;
}
.icon {
	width: .16rem;
	height: .09rem;
	background: url(../../images/dg.png) no-repeat;
	background-size: 100% 100%;
}
/*下拉列表*/
.down_list {
	display: none;
	background: #fff;
}
.item_cont {
	padding-bottom: .23rem;
	margin: 0 .24rem;
	border: 1px solid #dadada;
	font-size: .2rem;
	color: #333;
}
.item_cont .item {
	margin: 0 .22rem;
	padding: .25rem 0;
	border-bottom: 1px solid #dadada;
}
.item_cont .imgs {
	margin: 0 .2rem 0 0;
	width: 1.41rem;
	height: 1.41rem;
}
.item .imgs,.right {
	display: inline-block;
	vertical-align: top;
}
.item .right {
	width: 70%;
}
.explain {
	color: #151515;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cost {
	line-height: .65rem;
}
.money span:nth-child(1) {
	margin-right: .25rem;
	color: #ee1515;
}
.amount {
	padding-left: .22rem;
	line-height: .75rem;
	font-size: .2rem;
	color: #ee1515;
}
.amount span {
	margin-right: .85rem;
}
/*取消/确定按钮*/
.btn_wrap {
	margin: .2rem 0 0 4rem;
}
.btn_wrap a {
	display: inline-block;
	width: 1.2rem;
	height: .5rem;
	border-radius: 4px;
	font-size: .2rem;
	text-align: center;
	line-height: .5rem;
}
.call_btn {
	color: #333;
	border: 1px solid #808080;
}
.make_btn {
	margin: 0 .15rem 0 .24rem;
	background: #f80909;
	color: #fff;
}



.btn_app {
	margin: .5rem 0 0;
}
.btn_app a {
	display: inline-block;
	width: 1.5rem;
	height: .5rem;
	border-radius: 6px;
	font-size: .3rem;
	color: #fff;
	text-align: center;
	line-height: .5rem;
}
.ma_btn {
	margin: 0 .45rem 0 .72rem;
	background: #f60b26;
}
.ca_btn {
	background: #5b5c5e;
}