.wrapper {
    padding-top: .88rem;
}
img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.lb_headWrap {
	background: #F2F2F2;
}

.content {
	margin: .29rem 0 0;
}

.item {
	margin: 0 .15rem .1rem .15rem;
	padding: .1rem .15rem;
	border: 1px solid #dadada;
}
.item .img,.right_wrap {
	display: inline-block;
	vertical-align: top;
}
.img {
	width: 1.3rem;
	height: 1.3rem;
}
.right_wrap {
	margin: 0 0 0 .17rem;
	width: 70%;
}
.explain {
	font-size: .24rem;
	color: #151515;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.order {
	margin-top: .2rem;
}
.order .stock,.hue {
	float: left;
	font-size: .2rem;
	color: #505050;
}
.order .stock {
	margin-right: .2rem;
}
.BuyTake {
	position: fixed;
	left: .9rem;
	bottom: .55rem;
}
.BuyTake a {
	display: inline-block;
	width: 2.2rem;
	height: .6rem;
	background-color: #f7062e;
	border-radius: 10px;
	font-size: .3rem;
	color: #fff;
	text-align: center;
	line-height: .6rem;
}
.buy_btn {
	margin-right: .95rem;
}
