<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>用户视频管理</h3>
                <h5>用户专区视频管理</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>用户上传的视频</li>
            <li>审核通过后才会显示</li>
            <li>"显示"栏可控制某条视频是否显示或隐藏</li>
            <li>"推荐"将在首页展示</li>
            <li>排序：按照升序排序，数字越大，越靠前</li>
        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>视频列表</h3>
                <h5></h5>
            </div>
            <a href=""><div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div></a>
            <form class="navbar-form form-inline"  method="post" name="search-form2" id="search-form2">
                <div class="sDiv">
                    <div class="sDiv2">
                        <input type="text" size="30" name="content" class="qsbox" placeholder="描述...">
                    </div>
                    <div class="sDiv2">
                        <input type="text" size="30" name="nickname" class="qsbox" placeholder="搜索用户">
                    </div>
                    <div class="sDiv2">
                        <input type="button" onClick="ajax_get_table('search-form2',1)"  class="btn" value="搜索">
                    </div>
                </div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign"  axis="col0" onclick="checkAllSign(this)" >
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="id" axis="col1" class="" >
                            <div style="text-align: left;width: 50px;" class="">视频ID</div>
                        </th>
                        <th align="left" abbr="username" axis="col3" class="" >
                            <div style="text-align: left;width: 80px; " class="">用户昵称</div>
                        </th>
                        <th align="left" abbr="username" axis="col3" class="" >
                            <div style="text-align: left;width: 80px; " class="">OPENID</div>
                        </th>
                        <th align="left" abbr="consignee" axis="col3" class="" >
                            <div style="text-align: left;width:80px; " class="">标题</div>
                        </th>
                        <th align="left" abbr="consignee" axis="col3" class="" >
                            <div style="text-align: left;width: 60px; " class="">视频</div>
                        </th>
                        <th align="left" abbr="article_show" axis="col5" class="" >
                            <div style="text-align: left;width: 80px; " class="">封面</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="" >
                            <div style="text-align: center;width: 50px;"  class="">显示</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="" >
                            <div style="text-align: center;width: 80px; " class="">分类</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="" >
                            <div style="text-align: center;width: 50px; " class="">排序</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="" >
                            <div style="text-align: center;width: 80px; " class="">上传时间</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="" >
                            <div style="text-align: center;width: 50px; " class="">&nbsp;&nbsp;状态&nbsp;&nbsp;</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="" >
                            <div style="text-align: center;width:80px;" class=""> &nbsp;操作&nbsp;</div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <div class="fbutton">
                    <a href="javascript:;" onclick="publicHandleAll('del')">
                        <div class="add" title="批量删除">
                            <span>批量删除</span>
                        </div>
                    </a>
                </div>
                <div class="fbutton">
                    <a href="javascript:;" onclick="publicHandleAll('show')">
                        <div class="add" title="显示">
                            <span>显示</span>
                        </div>
                    </a>
                </div>
                <div class="fbutton">
                    <a href="javascript:;" onclick="publicHandleAll('hide')">
                        <div class="add" title="隐藏">
                            <span>隐藏</span>
                        </div>
                    </a>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <foreach name="videos" item="vo" key="k" >
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 50px;">{$vo[id]}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 80px;">{$vo['nickname']}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 80px;">账号</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 80px;">{$vo['title']}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 60px;height: 60px;">
                                    <video src="{$vo['video_url']}" style="height: 60px; width:60px;"  controls="controls"></video>
                                </div>
                            </td>
                         <td align="left" class="">
                            <div style="text-align: left; width: 80px;">{$vo['video_img']}</div>
                         </td>
                         <td align="left" class="">
                            <div style="text-align: left; width: 50px;">{$vo['is_on_sale']}</div>
                        </td>
                         <td align="left" class="">
                            <div style="text-align: left; width: 80px;">{$vo['category']}</div>
                        </td>
                       <td align="left" class="">
                            <div style="text-align: left; width: 50px;">{$vo['sort']}</div>
                        </td>
                       <td align="left" class="">
                                <div style="text-align: left; width: 80px;"><?php echo date("Y.m.d ",$vo['update_time'])?></div>
                       </td>
                       <td align="left" class="">
                            <div style="text-align: left; width: 50px;"><if condition="$vo['status'] eq 0"><span class="gray_button">待审核</span>
                                <elseif condition="$vo['status'] eq 1" />
                                <span class="green_button">通过</span>
                                <else/>
                                <span class="red_button">失败</span>
                            </if></div>
                     </td>

            <td align="" class="" style="width: 100%;">
                <div><a href="{:U('Video/info',array('id'=>$v['id']))}" class="btn blue"><i class="fa fa-pencil-square-o"></i>审核</a></div>
            </td>
            </tr>
            </foreach>
            </tbody>
            </table>

    </div>
</div>
</div>
</div>
<script>
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });
    function delfunc(obj){
        layer.confirm('确认删除？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                // 确定
                $.ajax({
                    type : 'post',
                    url : $(obj).attr('data-url'),
                    data : {act:'del',del_id:$(obj).attr('data-id')},
                    dataType : 'json',
                    success : function(data){
                        layer.closeAll();
                        if(data.status==1){
                            layer.msg(data.msg, {icon: 1});
                            $(obj).parent().parent().parent('tr').remove();
                        }else{
                            layer.msg(data.msg, {icon: 2,time: 2000});
                        }
                    }
                })
            }, function(index){
                layer.close(index);
            }
        );
    }
</script>
</body>
</html>
