
/*底部菜单*/
.footer-zp{
	width: 100%;
	height:0.98rem;
	background: #f7f7f7;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 99;
	border-top: .01rem solid #b2b2b2;
}
.footer-zp ul{
	height:100%;
	display: -webkit-flex; 
	display: -webkit-box; 
	display: -moz-box; 
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-zp ul li{
	width: 20%;
	text-align: center;
}
.footer-zp ul li:nth-child(3) img{
	width: .98rem;
	height: .72;
	margin: .13rem 0;
}
.footer-zp ul li a{
	color: #333333;
	font-size: .2rem;
	display: block;
}

.footer-zp ul li.on a{ 
	color: #333333;
}

/*底部图标*/
.footer-zp ul li i{
	width: 0.46rem;
	height: 0.46rem;
	display: block;
	margin:0 auto .1rem;
}

.footer-zp ul li .home-icon{
	background: url(/template/shop/rainbow/static/images/public/home-icon1.png) no-repeat;
	background-size: 100%;
}
.footer-zp ul li .find-icon{
	background: url(../images/public/find-icon1.png) no-repeat;
	background-size: 100%;
}
.footer-zp ul li .cart-icon{
	background: url(../images/public/cart-icon1.png) no-repeat;
	background-size: 100%;
}
.footer-zp ul li .user-icon{
	background: url(../images/public/user-icon1.png) no-repeat;
	background-size: 100%;
}

/* 点击后状态 */
.footer-zp ul li.on .home-icon{
	background: url(../images/public/home-icon1-on.png) no-repeat;
	background-size: 100%;
}
.footer-zp ul li.on .find-icon{
	background: url(../images/public/find-icon1-on.png) no-repeat;
	background-size: 100%;
}
.footer-zp ul li.on .cart-icon{
	background: url(../images/public/cart-icon1-on.png) no-repeat;
	background-size: 100%;
}
.footer-zp ul li.on .user-icon{
	background: url(../images/public/user-icon1-on.png) no-repeat;
	background-size: 100%;
}
