body{
    background-color: #fefefe;
}
.wrapper{
    padding-bottom: 1.08rem;
}

/* 头部 */
.headerTop{
    width: 100%;
    height: 4.05rem;
    background: url(../images/home_zp/headerTop-bg.png) no-repeat;
    background-size: 100%;
    display: flex;
    padding:0.88rem .3rem .2rem;
    box-sizing: border-box;
}

.header{
    color: #ffffff;
    background-color: #ff6b89;
}

/* 搜索 */
.search-wrap{
    width: 100%;
    height: .8rem;
    display: flex;
    align-items: center;
}
.search-wrap .search{
    width: 100%;
    height: 0.8rem;
    background-color: #f2f2f2;
    border-radius: 0.15rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.search-wrap .search form{
    height: 100%;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.search-wrap .search .searchBtn{
    width: 0.36rem;
    height: .36rem;
    background: url(../images/home_zp/search-icon-index@2x.png) center center no-repeat;
    background-size: 100%;
    margin: 0.1rem 0.15rem 0.1rem 0.3rem;
    border: none;
    outline: none;
}
.search-wrap .search .searchText{
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    border-left: 0.01rem solid #d0d0d0;
    font-size: 0.24rem;
    color: #8a8a8a;
    padding-left: 0.18rem;
    box-sizing: border-box;
    border: none;
    border-left: .01rem solid #cfcfcf;
    background: none;
    outline: none;
}
.search-wrap .notice-btn{
    margin-left: .2rem;
}
.search-wrap .notice-btn img{
    width: 0.52rem;
}

/* 内容 */
.content{
    position: relative;
    top: -2.08rem;
    z-index: 3;
}

/* 视频轮播 */
.bannerWrap{
    width: 6.9rem;
    height: 2.47rem;  
    margin: 0 .3rem;
    overflow: hidden;
    z-index: 3;
}
.bannerWrap .swiper-slide{ 
    position: relative;
    border-radius: .28rem;
    background-color: #000;
    overflow: hidden;
}

.bannerWrap .swiper-pagination{
    bottom: .05rem;
}
.bannerWrap  .swiper-pagination-bullet{
    width: .1rem;
    height: .1rem;
    opacity: 1;
    background-color: #e93380;
}
.bannerWrap .swiper-pagination-bullet-active{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.bannerWrap .swiper-slide img{
    width: 100%;
    display: block;
    border-radius: .24rem;
}
.bannerWrap .playBtn{
    width: .67rem;
    height: .67rem;
    background: url(../images/home_zp/playBtn-big.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
}

.bannerWrap .voiceBtn{
    width: .5rem;
    height: .5rem;
    background: url(../images/home_zp/voice-icon.png) no-repeat;
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.bannerWrap .closing{
    background: url(../images/home_zp/mute-icon.png) no-repeat;
    background-size: 100%;
}

.bannerWrap .materialLink{
    width: 1.2rem;
    height: .6rem;
    line-height: .6rem;
    color: #fff;
    font-size: .3rem;
    text-align: center;
    border-top-left-radius:.25rem; 
    background: #ff6b89;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99;
}

/* 菜单导航 */
.nav-wrap{
    padding: 0 0.2rem;
    box-sizing: border-box;
    background-color: #fff;
}
.nav-wrap ul{
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;  
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    padding:0.3rem 0 0.2rem 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-wrap .navItem{
    width: 20%;
    text-align: center;
    font-size: .24rem;
    margin-bottom: .1rem;
}
.nav-wrap .navItem a{
    color: #000000;
}
.nav-wrap .navItem span:first-child{
    width: 1.1rem;
    height: 1.2rem;
    display: block;
    margin: 0 auto .15rem;
}

.nav-wrap .navItem span{
    position: relative;
}
.nav-wrap .navItem span img{
    width: 100%;
}

/* 每日优品 */
.recommend-wrap{
    background-color: #dbebb3;
    border-radius: .18rem;
    margin:0 0.3rem;
    padding-bottom: .25rem;
    box-sizing: border-box;
}
.recommend-wrap .headline{
    height: .76rem;
    line-height: .76rem;
    position: relative;
}
.recommend-wrap .headline h3{
    height: .76rem;
    font-size: .3rem;
    color: #296504;
    text-align: center;
    font-weight: normal;
}
.recommend-wrap .headline .more{
    font-size: .24rem;
    color: #296504;
    background: url(../images/home_zp/right-arrow-icon1.png) right center no-repeat;
    background-size: .14rem .22rem;
    padding-right: .18rem;
    position: absolute;
    right: .15rem;
    top: 0;
}

.recommend-list {
    padding: 0 .4rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.recommend-list .single-item{
    width: 1.8rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: .1rem;
    position: relative;
}
.recommend-list .single-item .img-wrap{
    width: 1.8rem;
    height: 1.7rem;
    overflow: hidden;
}

.recommend-list .single-item .img-wrap img{
    width: 100%;
    display: block;
}
.recommend-list .single-item .tag{
    width: .4rem;
    height: .26rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.recommend-list .single-item .tag img{
    width: 100%;
}
.recommend-list .single-item .text{
    font-size: .2rem;
    padding: 0 .15rem;
    box-sizing: border-box;
}
.recommend-list .single-item .price{
    font-size: .2rem;
    color: #363636;
    line-height: .45rem;
}
.recommend-list .single-item .price .discount-price{
    font-size: .3rem;
    color: #ec6f88;
}

.picc{
    margin: .2rem auto;
    padding: 0 .3rem;
    box-sizing: border-box;
}

.picc img{
    width: 100%;
}

/* 活动专区 */
.activity-zone{
    padding: 0 .3rem;
    box-sizing: border-box;
    margin-bottom: .2rem;
}
.activity-zone img{
    width: 100%;
}

/* 分类专区 */
.area-category{
    padding: 0 .3rem;
    box-sizing: border-box;
}
.area-category .cate-item{
    width: 3.35rem;
    height: 1.64rem;
    margin-right: .2rem;
    float: left;
}
.area-category .cate-item:nth-child(2n){
    margin-right: 0;
}
.area-category .cate-item img{
    width: 100%;
}

/* 公共标题 */
.title{
    width: 100%;
    height: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title::before{
    content: '';
    display: inline-block;
    width: 2.8rem;
    height: .02rem;
    background: #f29dc1;
}
.title::after{
    content: '';
    display: inline-block;
    width: 2.8rem;
    height: .02rem;
    background: #f29dc1;
}
.title h3{
    font-size: .26rem;
    font-weight: normal;
    color: #e93380;
    margin: 0 .1rem;
}
/* 热卖商品 */
.hot-wrap{
    padding: 0 .3rem;
    box-sizing: border-box;
}
.hot-list .single-item{
    width: 100%;
    height: 2.3rem;
    background-color: #f7f7f7;
    padding: .15rem;
    box-sizing: border-box;
    margin-bottom: .2rem;
    border-radius: .12rem;
    display: flex;
    position: relative;

}
.hot-list .single-item .img-wrap{
    width: 2rem;
    height: 2rem;
    margin-right: .2rem;
    display: flex;
}
.hot-list .single-item .img-wrap img{
    width: 100%;
}
.hot-list .single-item .text{
    color: #333333;
}
.hot-list .single-item .text h3{
    font-size: .28rem;
    line-height: .5rem;
    font-weight: normal;
    margin-bottom: .1rem;
}
.hot-list .single-item .text .dec{
    font-size: .26rem;
    margin-bottom: .4rem;
}
.hot-list .single-item .text .price{
    font-size: .32rem;
    margin-bottom: .1rem;
}
.hot-list .single-item .text .original-price{
    font-size: .22rem;
}
.hot-list .single-item .text .spell-num{
    font-size: .22rem;
    line-height: .32rem;
}
.hot-list .single-item .text .buy-btn{
    width: 1.38rem;
    height: .6rem;
    line-height: .6rem;
    display: block;
    text-align: center;
    font-size: .28rem;
    color: #ffffff;
    border-radius: .12rem;
    background-color: #e93380;
    position: absolute;
    right: .15rem;
    bottom: .3rem;
}


/* 学习专区 */
.learning-area{
    display: flex;
    justify-content: space-between;
    padding: 0 0.24rem;
    margin-bottom: .1rem;
}
.learning-area .study-item{
    position: relative;
}
.learning-area .study-item .tag{
    width: 1.5rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    font-size:.3rem;
    background-color: #ca9fd6;
    color: #fff;
    border-radius: .05rem;
    border-bottom-left-radius:0; 
    position: absolute;
    top: 0;
    left: 0;
}
.learning-area .study-item:nth-child(2) .tag{
    background-color:#ff7095;
}
.learning-area .study-item img{
    width: 3.44rem;
    border-radius: .1rem;
}


/* 分类 */
.category-row{
    padding: 0 .24rem;
    box-sizing: border-box;
    margin: 0 auto .2rem;
}
.category-row .cate-item:first-child{
    margin-left: 0;
}
.category-row .cate-item{
    width: 1.74rem;
    height: 1.82rem;
    float: left;
    margin-left: .2rem;
    background-color: #fff;
    padding: .15rem;
    box-sizing: border-box;
    border-radius: .08rem;
}
.category-row .cate-item h3{
    font-size: .24rem;
    color:#151515;
    margin-bottom: .1rem;
}
.category-row .cate-item p{
    font-size: .18rem;
    color: #444444;
}
.category-row .cate-item .img-wrap{
    width: .83rem;
    margin:.15rem 0 0 .2rem;
}
.category-row .cate-item .img-wrap img{
    width: 100%;
}
.cate-more{
    width: 1.26rem;
    height: 1.82rem;
    background: #fff;
    font-size: .24rem;
    text-align: center;
    line-height: 1.82rem;
    float: right;
}
.cate-more a{
    color: #151515;
}

/* 商品 */
.product ul{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 0 .25rem;
    box-sizing: border-box;
}
.product .item{
    width: 49%;
    background-color: #fff;
    /* background-color: #e2e2e1; */
    padding: .1rem;
    box-sizing: border-box;
    position: relative;
    margin-right: .1rem;
    margin-bottom: .1rem;
    border-radius: .08rem;
}
.product .item:nth-child(even){
    margin-right: 0;
}

.product .img-wrap{
    width: 3.26rem;
    height: 3.26rem;
}
.product .img-wrap img{
    width: 100%;
}
.product .text h3{
    width: 3.26rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.product .text h3 a{
    color: #151515;
    font-size: .25rem;
}
.product .price .original-price{
    color: #fa0707;
    font-size: .24rem;
}
.product .price .discount-price{
    color: #979696;
    font-size: .18rem;
    text-decoration: line-through;
}
.product .item .cartBtn{
    width: .30rem;
    height: .30rem;
    position: absolute;
    right: .1rem;
    bottom: .16rem;
    background: url(../images/home_zp/cartBtn-icon.png) no-repeat;
    background-size: 100%;
}
.product .item .cartBtn img{
    width: 100%;
} 