body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input {
	margin: 0;
	padding: 0;
}

img {
	border: none;
	vertical-align: top;
}

input, select, textarea {
	outline: none;
}

textarea {
	resize: none;
}
a {
	color: #151515;
}
a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol, ul, li, dl {
	list-style: none;
}

body {
	line-height: 1;
	font-size: 0.341334rem;
}

i, a, big, small, b, span, em, strong, font {
	display: inline-block;
	font-style: normal;
	font-weight: normal;
}

input::-webkit-input-placeholder {
	color: #999;
}

input:-moz-placeholder {
	color: #999;
}

input::-moz-placeholder {
	color: #999;
}

input:-ms-input-placeholder {
	color: #999;
}

* {
	margin: 0;
	padding: 0;
}


.fl {
	float: left;
}

.fr {
	float: right;
}


/*清除浮动*/	
.clearfix:before{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
}
.clearfix:after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
} 
.clearfix{zoom:1}  /*是在处理兼容性问题*/


/*public 省略号*/
.publicEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*透明度*/
.publicOpacity {
	filter:alpha(opacity=0);          
	-moz-opacity:0;          
	-khtml-opacity: 0;          
	opacity: 0; 
}
/*垂直居中*/
.publicDrooping {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	margin: auto;
}

/* 不定宽高垂直居中 */
.publicVetically{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	transform: translate(-50%,-50%);
}

/* @font-face {
	font-family: 'PingFangMedium';
	src: url("/template/mobile/rainbow/static/font/PingFangMedium.ttf")
} */