
/* 视频轮播 */
.bannerWrap{
    width: 6.9rem;
    height: 3.2rem;  
    margin: 0 .3rem;
    z-index: 3;
    border-radius: .3rem;
    background-color: #000;
    overflow: hidden;
}
/* 大播放按钮 */
.prism-player .prism-big-play-btn {
    width: .67rem;
    height: .67rem;
    background: url(../../images/home_zp/playBtn-big.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 50%!important;
    top: 50%!important;
    z-index: 1000;
    transform: translate(-50%,-50%); 
}
.prism-player .prism-big-play-btn .outter{
    display: none;
}

.bannerWrap .prism-player{
    border-radius: .3rem;
    overflow: hidden;
}

.bannerWrap .swiper-slide{ 
    position: relative;
    border-radius: .28rem;
    background-color: #000;
    overflow: hidden;
}

.swiper-pagination-bullet{
    width: .08rem;
    height: .08rem;
    border-radius: 50%;
    opacity: .8;
}
.swiper-pagination-bullet-active{
    background-color: #fff;
    opacity: 1;
}

.bannerWrap .swiper-slide img{
    width: 100%;
    display: block;
    border-radius: .24rem;
}
.bannerWrap .playBtn{
    width: .67rem;
    height: .67rem;
    background: url(../../images/home_zp/playBtn-big.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    transform: translate(-50%,-50%);
}

.bannerWrap .voiceBtn{
    width: .5rem;
    height: .5rem;
    background: url(../../images/home_zp/voice-icon.png) no-repeat;
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}
.bannerWrap .closing{
    background: url(../../images/home_zp/mute-icon.png) no-repeat;
    background-size: 100%;
}

.bannerWrap .materialLink{
    width: 1.2rem;
    height: .6rem;
    line-height: .6rem;
    color: #fff;
    font-size: .3rem;
    text-align: center;
    border-top-left-radius:.25rem; 
    background: #ff6b89;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99;
}

/* 商品介绍 */
.video_goods .title{
    height: .68rem;
    line-height: .68rem;
}

/* 商品标题 */
.video_goods .title {
    padding: 0 .25rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.video_goods .title h3{
    color: #333333;
    font-size: .36rem;
    float: left;
    font-weight: normal;
}
.video_goods .title .more{
    font-size: .24rem;
    color: #b3b3b3;
    float: right;
}
.video_goods .title .more i{
    width: .11rem;
    height: .22rem;
    background: url("../../images/find/right-arrow.png") no-repeat;
    background-size: cover;
    margin-left: .1rem;
}

/* 列表 */
.video_list{
    padding:0 .3rem;
    box-sizing: border-box;
}
.video_list ul{
    display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box;
    display: -ms-flexbox; 
    display: flex;
    justify-content:space-between;
    flex-flow: wrap;
}
.video_list .item{
    width:100%;
    border-radius: .1rem;
    min-height: 3rem;
    background-color: #adadad;
    margin-bottom: .25rem;
    overflow: hidden;
}
.video_list .item a{
    display: block;
}
.video_list .item h3{
    height: .7rem;
    line-height: .7rem;
    background-color: #e93380;
    font-size: .32rem;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
}
.video_list .item .img_wrap{
    width: 100%;
    height: 2.3rem;
    position: relative;
}
.video_list .item .img_wrap img{
    width: 100%;
    display: block;
}
.video_list .item .img_wrap .playBtn_sm{
    width: .36rem;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
}

/* 公共标题 */
.heading{
    height: .68rem;
    line-height: .68rem;
}
.heading h3{
    display: -webkit-flex;
	display: -webkit-box; 
	display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .24rem;
    color: #e93380;
    font-weight: normal;
}
.heading h3::before{
    content: '';
    display: inline-block;
    width: 2.6rem;
    height: 1px;
    background-color: #f29dc1;
    margin-right:.24rem;
}
.heading h3::after{
    content: '';
    display: inline-block;
    width: 2.6rem;
    height: 1px;
    background-color: #f29dc1;
    margin-left:.24rem;
}

/* 用户专区 */
.user-area{
    padding: 0 .3rem;
    box-sizing: border-box;
}
.user-area .list .item{
    width: 3.35rem;
    height: 4.58rem;
    margin-right: .2rem;
    float: left;
    border-radius: .1rem;
    overflow: hidden;
    margin-bottom: .2rem;
}
.user-area .list .item a{
    display: block;
}
.user-area .list .item:nth-child(2n){
    margin-right: 0;
}
.user-area .list .item .img-wrap{
    width: 100%;
    height: 3.68rem;
    background-color: #cecece;
    position: relative;
    overflow: hidden;
}
.user-area .list .item .img-wrap img{
    width: 100%;
    display: block;
}

.user-area .item .img-wrap .playBtn_sm{
    width: .36rem;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
}

.user-area .item .userInfo{
    width: 100%;
    height: .9rem;
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #e93380;
    padding: .12rem;
    box-sizing: border-box;
}

.user-area .item .userInfo .avatar{
    width: .64rem;
    height: .64rem;
    border-radius: 50%;
    background-color: #fff;
    margin-right: .12rem;
    overflow: hidden;
}
.user-area .item .userInfo .avatar img{
    width: 100%;
}
.user-area .item .userInfo .name{
    font-size: .22rem;
    display: block;
    margin-bottom: .05rem;
}
.user-area .item .userInfo .title{
    font-size: .2rem;
    display: block;
}

/* 商品介绍列表页 */
.content{
    padding: 1.3rem 0 1.38rem;
    box-sizing: border-box;
}
.video_goods{
    
}
